<div class="">
    <div class="">Hello <%= fullName %>,</div>
    <div class="">Please use the mentioned credentials to login to your account. Do not forget to change you password immediately after logging in.
        <p style="color: rgb(46, 12, 19)">
            <strong>Email: <%= email %></strong>
        </p>
        <p style="color: rgb(46, 12, 19)">
            <strong>Password: <%= password %></strong>
        </p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Serpros</div>
</div>